
<%- include("header") -%> 

<h2>This is a page about us</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Magni tempora dignissimos saepe libero architecto id beatae quo 
    esse iure enim, rem quibusdam sequi nesciunt totam laboriosam est 
    necessitatibus corrupti assumenda.
</p>

<%- include("footer") -%> 